h1 Welcome to Game Panel
| Hello #{@user.name}, you just registered on our website!
br 
br 
| You can autorize with:
br
p email: #{@user.email}
p password: #{@user_password} 

br
p = link_to 'Go to GAME PANEL', news_index_url

br
| Thank you for using our service.
|  With best regards GAME PANEL team :)
