.login-logo
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif

.btn
  color: white
  transition-duration: .3s

.blank-border
  border-style: dashed
  border-width: 2px
  border-radius: 5px
  padding: 20px
  opacity: 0.3

.sidebar-menu
  li
    a
      transition-duration: .3s

.full-width
  width: 100%
